@model MVCProjekt.Models.Client

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Upravit klienta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Jméno
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
        Přijimení
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surnname)
        </dd>
        <dt class = "col-sm-2">
        E-mail
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
        Ulice
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class = "col-sm-2">
        PSČ      
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PSC)
        </dd>
        <dt class = "col-sm-2">
        Město
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
        Stát
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class="col-sm-2">
            Název pojištění
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Insurance_name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Upravit</a> |
    <a asp-action="Index">Zpět na seznam klientů</a>
</div>
